/* /styles/categoryButton.module.css */
.categoryItem {
  cursor: pointer;
  margin: 15px 0;
  font-size: 1.1rem;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
  color: #2e3c49;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: sticky;
}

.categoryItem:hover {
  color: #ff8730;
}

@media (max-width: 768px) {
  .categoryItem {
    font-size: 15px;
  }
}