.box {
    color: #2e3c49;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 4rem 1rem;
    padding: 0px 180px 0px 128px;
    gap: 3rem;
}

.box h2 {
    font-size: 40px;
    font-weight:600;
    margin-bottom: 2.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  background-color: white;
  padding: 30px;
  font-size: 17.6px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 1px #e3e3e3;
}

.card h4 {
    font-size: 25.6px;
    margin-bottom: 1.2rem;
    color: #ff8730;
}

.highlight {
    color: #ff8730;
    font-weight:600;
}

.containerTwo img {
  width: 100%;
  max-width: 800px;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.bookNowButton {
    background: #ff8730;
    color: white;
    border: none;
    width: 150px;
    padding: 10px 24px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1.5rem;
    align-self: flex-start;
}

.bookNowButton:hover {
    background: #ff7f24;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px #ff863085;
}

.bookNowButton:hover .arrow {
    transform: translateX(5px);
}

@media (max-width: 768px) {
    .box {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
    padding: 0px 0px;
    }

    .box h2 {
    font-size: 2rem;
    text-align: center;
    }   

    .card {
    font-size: 1rem;
    }

    .card h4 {
    font-size: 20px;
}
}